* {
    box-sizing: border-box;
    font-family: Roboto Serif, Times, sans-serif;
    
}

body {
    height: 100vh;
    margin: 0;
}

a {
    text-decoration: none;
    list-style-type: none;
    color: #f9fAf8;
}

#logo {
    margin: 8px;
    max-height: 50px;
    display: flex;
}

nav {
    margin: 0px 225px;
    padding: 8px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

ul {
    display: flex;
    gap: 50px;
}

header {
    display: flex;
    justify-content: center;
    align-items: space-between;
    flex-direction: column;
    flex: auto;
}

.hero {
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
    flex: auto;
}


.hero-header {
    font-weight: 900;
    font-size: 48px;
    color: #f9fAf8;
    margin-bottom: 0;
}

.hero-sub {
    color: #e5e7eb;
    font-size: 18px;
}

#hero-image {
    height: 300px;
    align-self: center;
}

.hero-container {
    display: flex;
    gap: 100px;
    padding: 100px 250px;
}

.hero-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: auto;
}

.information-header {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    text-align: center;
}

.card {
    font-size: 20px;
    font-weight: 300;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    flex-basis: 0px;
    margin-bottom: 100px;
}

img {
    border-radius: 10px;
}

.crop-container {
    border-radius: 10px;
}

.quote-section {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 75px;
}

.text {
    font-size: 36px;
    color: #616975;
    font-weight: 300;
    font-style: italic;
    display: flex;
    margin: 25px 250px;
    padding: 25px 25px;
}

.sign-up-button {
    background-color: #3882f6;
    color: #f9faf8;
    padding: 8px;
    border-radius: 8px;
    display: flex;
    align-self: flex-start;
    border-style: none;
}

.book-here-button {
    background-color: #3882f6;
    color: #f9faf8;
    border-color: #f9faf8;
    padding: 8px;
    border-radius: 8px;
    display: flex;
    align-self: center;
    border-style: solid;
}

.call-to-action {
    margin: 200px 400px;
    padding: 32px;
    background-color: #3882f6;
    border-radius: 10px;
    justify-content: start;
    flex: auto;
}

.call-container {
    display: flex;
    justify-content: space-evenly;
    align-items: start;
}

.call-contents {
    color: #f9faf8;
    display: flex;
    flex-direction: column;
    align-self: center;
}

.call-text {
    margin-bottom: 0;
}

footer {
    background-color: #1f2937;
    color: #f9faf8;
    padding: 32px;
    text-align: center;
}


.information-header {
    padding: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
}

.service-card {
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    gap: 32px;
}


.main-section {
    margin: 25px 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px
}