* {
    box-sizing: border-box;
    font-family: Roboto Serif, Times, sans-serif;
}

body {
    height: 100vh;
    margin: 0;
}



#logo {
    height: 100px;
}

.hero {
    background-color: #1f2937;
}

a {
    text-decoration: none;
    list-style-type: none;
    color: #f9fAf8;
}

.hero-header {
    font-weight: 900;
    font-size: 48px;
    color: #f9fAf8;
}

.hero-sub {
    color: #e5e7eb;
    font-size: 18px;
}

#hero-image {
    height: 300px;
}

.information-header {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    text-align: center;
}

.card {
    font-size: 20px;
    font-weight: 300;
}

.text {
    font-size: 36px;
    color: #616975;
    font-weight: 300;
    font-style: italic;
}

.sign-up-button {
    background-color: #3882f6;
    color: #f9faf8;
    padding: 8px;
}

.book-here-button {
    background-color: #3882f6;
    color: #f9faf8;
}

.call-to-action {
    margin: 64px;
    padding: 32px;
    background-color: #3882f6;
}

footer {
       background-color: #1f2937;
       color: #f9faf8;
       padding: 32px;
}

