* {
    box-sizing: border-box;
    font-family: Roboto Serif, Times, sans-serif;
}

body {
    height: 100vh;
    margin: 0;
}



.hero {
    background-color: #1f2937;
}

a {
    text-decoration: none;
    list-style-type: none;
    color: #f9fAf8;
}

.hero-header {
    font-weight: 900;
    font-size: 48px;
    color: #f9fAf8;
}

.hero-sub {
    color: #e5e7eb;
    font-size: 18px;
}

.information-header {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937
}

.text {
    font-size: 36px;
    color: #1f2937;
    font-weight: 300;
}

.sign-up-button {
    background-color: #3882f6;
    color: #f9faf8;
}

.book-here-button {
    background-color: #3882f6;
    color: #f9faf8;
}